# React functional component
snippet rfc
	interface Props {

	}

	export ${0:Component} = (props: Props) => {
		const { } = props

		return <div>${1}</div>
	}

# UseTranslation hook
snippet uset
	const { t } = useTranslation${0}()
