snippet rfc "React functional component"
	interface Props {
	
	}
	
	export ${1:Component} = (props: Props) => {
		const { } = props
	
		return <div>${2}</div>
	}
snippet uset "UseTranslation hook"
	const { t } = useTranslation${1}()
