snippet tvue "Typescript Vue single file component"
	<script setup lang="ts">
	${1}
	</script>

	<template>
	</template>
snippet vue "Vue single file component"
	<script setup>
	${1}
	</script>

	<template>
	</template>
